.agents-container {
   width: 81.7% !important;
   margin-left: 18% !important;

   @media (max-width: 1024px) {
      width:100% !important;
      margin-left:0px !important;
   }

   .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
      border-radius: 0px !important;
      width: 97% !important;
      height: 64vh;
      scroll-behavior: none;
      // border: 2px solid red;

      .css-15wwp11-MuiTableHead-root {
         height: 0px !important;
      }

      .css-y8ay40-MuiTableCell-root {
         background-color: white !important;
         border: 0px !important;
      }

      .css-1ex1afd-MuiTableCell-root {
         background-color: #D9D9D9;
         border-bottom: 28px solid white !important;
         //   .profilePicCell{
         //    background-color: white !important;
         //   }
      }

      .profilePicCell {
         background-color: white !important;
      }
   }

   .css-apqrd9-MuiTableBody-root {
      border: 2px solid red !important;
   }

   //For deployment
   .css-13xy2my {
      border-radius: 0px !important;
      width: 97% !important;
      height: 64vh;

      .css-1wbz3t9 {
         height: 0px !important;
      }

      .css-8coetn {
         background-color: white !important;
         border: 0px !important;
      }

      .css-q34dxg {
         background-color: #D9D9D9;
         border-bottom: 28px solid white !important;
      }
   }
}

.policiesDataGrid {
   .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
      border-radius: 0px !important;
      width: 97% !important;
      height: 24vh;
      scroll-behavior: none;

      .css-15wwp11-MuiTableHead-root {
         height: 0px !important;
      }

      .css-y8ay40-MuiTableCell-root {
         background-color: white !important;
         border: 0px !important;
      }

      .css-1ex1afd-MuiTableCell-root {
         background-color: #D9D9D9;
         border-bottom: 28px solid white !important;
         //   .profilePicCell{
         //    background-color: white !important;
         //   }
      }

      .profilePicCell {
         background-color: white !important;
      }
   }

   .css-apqrd9-MuiTableBody-root {
      border: 2px solid red !important;
   }
}

.agentDetail-text {
   color: white;
}