.MuiTableRow-root {
    height:3vh !important;
}

.MuiTableCell-root{
    padding-top: 0px;
    padding-bottom: 0px;
}

// .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
//      background-color: red !important;
// }