.notification-container {
    display: flex;
    flex-direction: row;
    width: 49px;

    .notification-inner-container{
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 100%; 
        height: 6vh;  
        border-radius: 30px;
        &:hover {
          background-color: #F08613;
          cursor: pointer;
        }
        @media (max-width:1138px) {
            height: 3vh;  
        }
    }

    .notification-popup {
        margin-top: 7px;
        margin-left: 900px;

        .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
            border: 2px solid #F08613;
            min-width: 339px;
            min-height: 300px;
        }

        .css-1dmzujt {
            border: 2px solid #F08613;
            min-width: 339px;
            min-height: 300px;
        }

        // .menu-item{
        //     margin: 4px;
        //     border: 2px solid #EDEDED;
        // }
    }

}