#dropdown-menu-{
    // position: absolute;
    // background-color: red;
    // width: 304px;
    // z-index: 5;
    top: 55px;
    left: 318px;

    .menu-item{
        margin: 2px;
        border: 2px solid #EDEDED;
        width:340px
    }
   
}
#dropdown-menu-yearly-policy-menu{
    top: 200px;
    left: 318px;
    .menu-item{
        margin: 2px;
        border: 2px solid #EDEDED;
        width:340px
        // width:6000px
    }
}

#dropdown-menu-previous-months{
    top:55px;
    left:1105px;
    .menu-item{
        margin: 2px;
        border: 2px solid #EDEDED;
        width:340px
    }
}
#dropdown-menu-previous-months2{
    top:528px;
    left:1105px;
    .menu-item{
        margin: 2px;
        border: 2px solid #EDEDED;
        width:340px
    }
}


#dropdown-menu-previous-year{
    top:202px;
    left:1102px;
    .menu-item{
        margin: 2px;
        border: 2px solid #EDEDED;
        width:340px
    }
}

.menu-item-text-{
    text-align: center;
    width: 260px;
}

.menu-item-text-previous-months{
    text-align: center;
    width: 260px;
}