.carriers-container {
  width: 100%;
  padding: 50px;
  margin-left: 18%;

  @media (max-width: 1024px) {
    width: 71%;
    margin-left: 28%;
  }

  .carriers-inner-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

.carrier-items {
  height: 300px;
  width: 100%;
  border-bottom: 2px solid rgba(115, 115, 115, 0.313);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .CarrierItemDropdown {
    .carrier-button {
      display: flex;
      background-color: #003478;
      color: white !important;
      width: 100%;
      font-size: 12px;
      padding: 15px 10px;

      &:hover {
        background-color: "#003478";
      }

      .carrier-link {
        text-decoration: none;
        color: white !important;
      }
    }

    // .carrier-link {
    //     text-decoration: none;
    //     color: white
    // }

    // width: 226px !important;
    .css-lpyore-MuiButtonBase-root-MuiButton-root {
      width: 311px !important;
    }
  }
  .btn-flex {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  img {
    width: 100%;
    height: 60%;
    object-fit: contain;
  }
}
