@import "tailwindcss";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notification-popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification-container {
  background: white;
  width: 70% !important;
  height: 80%;
  border-radius: 8px;
  position: relative;
  left: 0;
  right: 0;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    width: 50% !important;
  }
}

.notification-close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.notification-content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  overflow: scroll;
}

.notification-content-container div {
  background-color: #1d9eb0;
  padding: 16px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.notification-content-container div:hover {
  background-color: #085e6a;
  transition: all;
  transition-duration: 500ms;
}
.notificationText {
  font-size: 18px;
  color: white;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}
